{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page navbar.
}}
<nav id="header" role="banner"  class="fixed-top navbar navbar-light bg-white navbar-expand moodle-has-zindex">
    <!-- LMSACE S.o -->
    <div class="header-menubar">
        <div class="container">
            <div class="navbar">
             <div class="navbar-inner">

            <div data-region="drawer-toggle" class="d-inline-block mr-3">
                <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn nav-link float-sm-left mr-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
                <span></span>
                <span></span>
                <span></span>

                </button>
            </div>

        </div>

        <ul class="nav navbar-nav ml-auto">
            <div class="d-none d-lg-block">
                {{{ output.search_box }}}
            </div>
            <!-- navbar_plugin_output -->
            <li class="nav-item">
            {{{ output.navbar_plugin_output }}}
            </li>
            <!-- user_menu -->
            <li class="nav-item d-flex align-items-center">
                {{{ output.user_menu }}}
            </li>
        </ul>
        <!-- search_box -->

          <div id="Mainmenu" class="nav-collapse collapse navbar-responsive-collapse">

            {{{output.custom_menu}}}

            <div class="custom-nav-search">

                <form action="{{{surl}}}" method="get">
                    <div class="fields-wrap">
                        <input type="text" placeholder="<?php echo get_string('searchcourses'); ?>" name="search">
                        <div class="btn-search fa fa-search"><input type="submit" value="Search"></div>
                    </div>
                </form>

            </div>
          </div>

        </div>
      </div>
    </div>



</nav>

