.local_commander {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 40px;
    left: 50%;
    min-height: 50vh;
    overflow: hidden;
    width: 600px;
    margin: 0 0 0 -300px;
    background-color: #1b2834;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom: 5px solid #1b2834;
}

.local_commander-header {
    margin: 0;
    padding: 5px 15px;
    color: #fff;
    background: #151f2a;
}

.local_commander-body {
    overflow: hidden;
    margin: 5px 15px 5px 15px;
}

.local_commander-body ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.local_commander-body li {
    border-bottom: 1px solid #5d5f62;
    padding: 2px 4px;
    margin: 0 0 2px 0;
    width: 520px;
}

.local_commander-body li a {
    color: #587d37;
    font-weight: bold;
}

.local_commander-body li.active {
    background: #34bc6e;
}

.local_commander-body li.active a {
    color: #fff;
    font-weight: bold;
}

.local_commander-body div::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.local_commander-body div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.local_commander-body div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.local_commander-body div {
    overflow-y: scroll;
    height: calc(100% - 100px);
}

#local_commander_back_layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9994;
    background: rgba(95, 95, 95, 0.36);
}

#local_commander_command {
    width: 570px;
    background: #1b2834;
    border: none;
    color: #fff;
    margin-left: 10px;
    padding: 5px;
}